<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.topo.mapper.EnergyFunctionModuleMapper">

    <resultMap id="BaseResultMap" type="com.example.topo.domain.EnergyFunctionModule">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="moduleCode" column="module_code" jdbcType="VARCHAR"/>
            <result property="moduleNameZh" column="module_name_zh" jdbcType="VARCHAR"/>
            <result property="moduleNameEn" column="module_name_en" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
            <result property="enabled" column="enabled" jdbcType="BOOLEAN"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,module_code,module_name_zh,
        module_name_en,icon,sort_order,
        enabled,created_at,updated_at
    </sql>
</mapper>
